:root {
  --border-radius: 12px;

  --bg-logo-color: #ffffff;
  --logo-color: #737380;
  --bg-input-secondary: #f3f5f6;
  --text-dark: #737380;
  --delete-color: #de3838;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
